@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --clr-dark: #222f44;
  --clr-light: #dde4ee;
  --clr-link: #0945a4;
  --size-font: 1.3rem;
  --size-sm: 2rem;
  --size-l: 3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: var(--clr-light);
  padding: 2rem;
}
/* name */
h1 {
  font-size: var(--size-l);
}

/* image */
i
h3 {
  font-size: var(--size-l);
}


@keyframes blink {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* link */
a {
  text-decoration: none;
  color: var(--clr-link);
  font-size: var(--size-font);
  font-weight: 600;
  transition: all 0.3s;
}
a span {
  color: var(--clr-light);
}
a:hover{
  color: #4b4f80;
}

@media (max-width: 400px) {
  h1 {
    font-size: var(--size-sm);
  }
  img {
    width: 180px;
  }

  h3 {
    font-size: var(--size-sm);
  }
}


div{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imp-links {
  display: flex;
  padding: 3em;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}